<section>
  <div class="text-center mb-10">
    <h2 class="text-4xl">
      Feel free to <span class="text-[var(--maincolor)]">connect with me</span>
    </h2>
    <span>"Here’s a brief overview of my websites and connection."</span>
  </div>

  <div class="text-center mb-5 container">
    <div class="row">
      <div
        class="flex flex-col items-center justify-center text-center space-y-4 p-8"
      >
        <h1 class="text-3xl font-semibold">FIND ME ON</h1>

        <ul class="flex space-x-6">
          <li class="social-icons">
            <a
              title="icon"
              href="https://github.com/haidy-mekawy"
              target="blank"
              class="p-2 rounded-full bg-black text-[var(--maincolor)] transition-all duration-300 ease-in-out"
            >
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
          <li class="social-icons">
            <a
              title="icon"
              href="mailto:shrooqzaki20@gmail.com"
              target="blank"
              class="p-2 rounded-full bg-black text-[var(--maincolor)] transition-all duration-300 ease-in-out"
            >
              <i class="fa-regular fa-envelope fa-2x"></i>
            </a>
          </li>
          <li class="social-icons">
            <a
              title="icon"
              href="https://www.linkedin.com/in/haidy-mekawy-55990428b"
              target="blank"
              class="p-2 rounded-full bg-black text-[var(--maincolor)] transition-all duration-300 ease-in-out"
            >
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li class="social-icons">
            <a
              title="icon"
              href="https://www.facebook.com/shrooq.ahmed20/"
              target="blank"
              class="p-2 rounded-full bg-black text-[var(--maincolor)] transition-all duration-300 ease-in-out"
            >
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
