<section>
  <div class="text-center mb-10">
    <h2 class="text-4xl">
      My <span class="text-[var(--maincolor)]">Resume</span>
    </h2>
    <span
      >"Here’s a brief overview of my professional journey and
      experience."</span
    >
  </div>

  <div class="text-center my-5">
    <div class="btn">
      <a
        href="/img/Document.pdf"
        target="_blank"
        class="inline-flex items-center px-4 py-2 text-md font-medium text-center bg-[var(--maincolor)] rounded-lg"
      >
        <i class="fas fa-download me-1"></i> Download CV
      </a>
    </div>
  </div>

  <div class="container flex mx-10">
    <div class="img1">
      <img src="/img/Document_page-0001.jpg" alt="cv" />
    </div>
    <div class="img2">
      <img src="/img/Document_page-0002.jpg" alt="cv" />
    </div>
  </div>
</section>
