@import "tailwindcss";
@import "flowbite/src/themes/default";
/* @plugin "flowbite/plugin";
@source "../node_modules/flowbite"; */
:root {
  --maincolor: #e422de;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/bg-purple.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section {
  margin-top: 10%;
  padding: 50px;
  color: white;
}
