<div class="container mx-auto my-15 px-12 mt-[12%]">
  <div class="grid md:grid-cols-2 gap-4 items-center px-4">
    <div class="flex justify-center md:justify-start">
      <div class="text-white md:text-center lg:text-start">
        <h1 class="text-4xl font-bold mb-6">
          welcome <span class="emoji">👋</span>
        </h1>

        <h3 class="text-5xl font-semibold capitalize mb-6">
          i'm <span class="text-[var(--maincolor)]">haidy mekawy</span>
        </h3>
        <h4 class="text-4xl capitalize">frontend devoloper</h4>
      </div>
    </div>
    <div class="photo flex justify-center">
      <div>
        <img
          class="w-full"
          src="/img/pngtree-web-site-development-programmer-girl-png-image_6074556.png"
          alt="Coding Girl"
        />
      </div>
    </div>
  </div>
</div>
